.my_custom_modal_right {
	flex: 0 0 29%;
    max-width: 29%;
    }
.my_custom_modal02{
	width:90px;
}
.my_emp_photo{
 position:absolute;
 top: 15px;
 right: 15px;
 width:155px;
 height:165px;
 padding:0;
}
img{
	width:100%;
	height:auto;
}
.left{
	flex: 0 0 50%;
    max-width: 50%;
	padding-left: 0px;
}
#my_errorMsg{
	color: red;
	margin: 10px 5px 0 0;
	font-weight: bold;
	font-size: 13px;
}
.my_hide{
	display: none;
}

